*{
    box-sizing: border-box;
}
body{
    margin:5px;
}
.contenedor{
    width: 700px;
    margin: 60px 320px;
    padding: 60px;
    text-align: center;
    background: #84FFFF;
}
.derecha{
float:left;
}
.menu a{
    width: 53%;
    overflow: hidden;
    text-decoration: none;
}
.menu {
    background: #00E5EE;
    color: black;
    float: right;
    border-radius: 80px;
    text-align: center;
    margin-top: -40px;
    margin-left: auto;
    margin-right: -0px;
    padding: 15px;
}
.menu a:hover{
    background-color: white;
    color: black;
}
p{
    font-size: 19px;
}